@import 'foundation.css';
@import 'component.css';
@import 'layout.css';

/*Different flex direction of alternative section*/
.flow{
    display: flex;
    flex-direction: row;
    
}

.flow-reverse{
    display: flex;
    flex-direction: row-reverse;
}

/*Styling for active section and active nav bar item*/
.active-view{
    background: #beb732; 
    border-radius: 10px; 
}

.active-nav{
    background:#ecfeaa;
}


