@import 'foundation.css';
@import 'component.css';
@import 'layout.css';

/*Styling for active section and active nav bar item*/
.active-view{
    background: #beb732; 
    border-radius: 10px; 
}

.active-nav{
    background:#ecfeaa;
}

.navbar-hide{
    left: -150px;
}

